@font-face {
    font-family: 'LED';
    src:url('LED.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.qd-bodyBG{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1
}

.header{
    height: 90px;
}
.hd-time{
    float: left;
    position: relative;
}
.hd-weather{
    float: right;
}
.hd-title{
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    background-image: url(../images/hqheader-bg.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 90px;
    padding-top: 15px;
}
.hd-time{
    color: #fff;
    line-height: 35px;
    margin-left: 1%;
    margin-top: 15px;
}
.hd-time span{
    color: #fff;
    font-family: "LED";
    font-size: 26px;
    font-weight: 100;
}
.date-day{
    margin-right: 10px;
}
.main-con{
    padding: 30px 10px 0;
}
.main-left{
    width:370px;
    float: left;
    background: rgba(5,60,78,0.7); 
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px;
    position: relative;
}
.main-item-hd{
    color: #fff;
    background: url(../images/item-hd.png) no-repeat left center;
    margin-left: 20px;
    padding-left: 15px;
    height: 40px;
}
.main-item{
    padding-top: 20px;
}
.main-item-hd p{
    font-size: 18px;
    margin: 0;
    line-height: 25px;
    font-weight: bold;
}
.main-item-hd span{
    display: block;
    font-size: 14px;
    line-height: 14px;
}
.main-item-bd{
    /* padding-top: 30px; */
}
.item-sub-hd{
    background: rgba(255,255,255,0.13);
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    margin-top: 20px;
}
.item-sub-hd p{
    margin: 0;
    color: #fff;;
    font-size: 14px;
}
.item-sub-hd p img{
    margin-right: 5px;
}
.item-sub-bd{
    padding: 5px 10px;
}
.waterused-list-hd{
    background: #3b77b0;
    color: #fff;
    line-height: 25px;
}
.waterused-list-hd span{
    display: inline-block;
    font-size: 12px;
}
.waterused-list-hd span:first-child{
    width: 60%;
    text-align: left;
    padding-left: 50px;
}
.waterused-list-hd span:last-child{
    width: 37%;
    text-align: center;
}
.waterused-list-bd{
    color: #fff;
    height: 175px;
    overflow:hidden; 
}
.waterused-list li:nth-child(odd){
    background: rgba(29,53,75,.74);
}
.waterused-list li:nth-child(even){
    background: rgba(54,129,173,.33);
}
.waterused-list-bd li span{
    display: inline-block;
    line-height: 25px;
    font-size: 12px;
}
.waterused-list li span:first-child{
    width: 60%;
    text-align: left;
    padding-left: 20px;
}
.waterused-list li span:last-child{
    width: 37%;
    text-align: center;
}
.waterused-Charts{
    width: 100%;
    height: 200px;
}
.main-right{
    float: right;
    width: 370px;
    background: rgba(5,60,78,0.7);
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px;
    position: relative;
}
.main-middle{
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: url(../images/qd-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size:100% 100%;
}
.middle-select>div{
    position: fixed;
}
.middle-select>div:hover{
    animation:none;
}
.middle-select>div a{
    color: #fff;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
}
.middle-select img{
    width: 20px;
    vertical-align: middle;
}
.select-ljfl{
    left: 24%;
    top: 37.5%; 
    /* animation:pulse 4s 2.8s infinite; */
}
.select-tyyp{
    left: 31.8%;
    top: 28.5%; 
    /* animation:fadeOut 2s 4.5s infinite; */
}
.select-spjk{
    left: 29%;
    top: 60%; 
    /* animation:fadeIn 3s 3.8s infinite; */
}
.select-gyyp{
    left: 45%;
    top: 21.5%; 
    /* animation:fadeOut 2.5s 5.7s infinite; */
}
.select-zybcg{
    left: 47%;
    top: 51.5%; 
    font-size: 14px;
    /* animation:fadeIn 2.7s 4.7s infinite; */
}
.select-sccg{
    left: 55.8%;
    top: 31.5%; 
    font-size: 12px;
    /* animation:fadeOut 2s 3.2s infinite; */
}
.select-sccg>a{
    line-height: 16px!important;
}
.select-sccg img{
    width: 16px;
}
.select-xfcg{
    left:60.5%;
    top: 23%;
   /*  animation:fadeOut 2.5s 5.7s infinite; */
}
.select-xfcg img{
    width: 30px;
    margin-right: 10px;
}
.select-xfcg a{
    font-size: 18px;
}
.select-stry{
    left:60.7%;
    top: 37.2%;
    font-size: 12px;
}
.select-stry img{
    width: 16px;
}
.select-ysjk{
    left:69.2%;
    top: 37.8%;
    font-size: 16px;
}
.select-ydjk{
    left:65.5%;
    top: 45.7%;
    font-size: 16px;
}
.modal-middle{
    position: fixed;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    z-index: 999;
    top: 20%;
    /* border: 1px solid #aaf2ff; */
    display: none;
    background: url(../images/modal-bg.png);
    background-size: 100% 100%
}
.modal-title{
    height: 40px;
    background: #1ca9de;
    line-height: 40px;
    position: relative;
    padding: 0 20px;
}
.modal-title h2{
    color: #fff;
    font-size: 16px;
    margin: 0;
    line-height: 40px;
}
.modal-title span{
    position: absolute;
    right: 20px;
    top: 0px;
    color: #fff;
    cursor: pointer;
}
.modal-body{
    padding: 0;
    /* background: rgba(9,62,80,.7); */


}
.list-area{
    float: left;
    width: 15%;
    border-right: 1px solid #aaf2ff;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background: rgba(9,62,80,.8); */
}
.list-area li{
    text-align: center;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
}
.list-area li span{
    display: inline-block;
    padding: 0 10px;
}
.list-area li:hover span,
.list-area li.active span{
    color: #ffe400;
    background: url(../images/area-bg.png) no-repeat;
    background-size: 100% 100%
}
.list-school{
    float: left;
    width: 15%;
    height: 350px;
    padding-bottom: 20px;
    background: rgba(9,62,80,1);
}
.list-school li{
    text-align: center;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
}
.list-school li:hover,
.list-school li.active{
    background: #3b77b0
}
.list-con{
    float: left;
    width: 70%;
    min-width: 450px;
}
.list-con-hd{
    background: #3b77b0
}
.list-con-hd li{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0 15px;
    color: #fff;
    cursor: pointer;
}
.list-con-hd li.active{
    background: #2c7bf0
}
.list-con-charts{
    width: 100%;
    height: 315px;
}
@media screen and (min-width: 1801px){
    .middle-select>div{
        font-size: 16px;
    }
    .middle-select img{
        margin-right: 10px;
    }
    .select-spjk{
        left: 30%;
    }
    .select-xfcg a{
        font-size: 24px;
    }
    .select-ljfl{
        left: 24.5%
    }
    .select-ysjk img{
        margin-right: 10px;
    }
    .select-zybcg img{
        width: 25px;
    }
    .select-zybcg a{
        font-size: 18px;
    }
}
@media screen and ( max-width: 1800px){
    .main-left{
        width: 340px;
    }
    .main-right{
        width: 340px;
    }
}
@media screen and ( max-width: 1500px){
    .header{
        height: 70px;
    }
    .hd-title{
        height: 70px;
        font-size: 22px;
    }
    .hd-time {
        margin-top: 10px
    }
    .hd-time span{
        font-size: 22px;

    }
    .main-con{
        padding: 10px 10px;
    }
    .main-left{
        width: 275px;
    }
    .main-right{
        width: 275px;
    }
    .item-sub-hd{
        margin-top: 10px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }
    .item-sub-hd p{
        font-size: 12px;
    }
    .waterused-list-hd{
        line-height: 20px;
    }
    .waterused-list-bd li span{
        line-height: 20px;
    }
    .waterused-list-bd{

    }
    .main-item-hd p{
        font-size: 14px;
    }
    
}
@media screen and ( max-width: 1380px){
    .select-ljfl{
        top: 37.1%;
    }
    .select-gyyp{
        top: 21%
    }
    .select-tyyp{
        top: 28.1%
    }
    .select-spjk{
        top: 59.7%;
    }
    .select-zybcg{
        top: 51.3%;
    }
    .select-ydjk{
        top: 45.3%;
    }
    .select-ysjk{
       top: 37.4%; 
    }
    .select-xfcg{
        top: 22.5%;
    }
}
